{% extends "layout.html" %}

{% block content %}

<div class="container">

<h2>Click to see the translation or get a new word and start learning!</h2>
<div align="center">
<p class="card" style="visibility: visible;">
{{ flash_card_word }}
</p>

<p class="translation" style="visibility: hidden;">
{{ flash_card_translation }}
</p>
</div>

<div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group" role="group" aria-label="First group">
    <button class="btn btn-primary" onclick="toggle_display()">Show translation</button>
  </div>
  <div class="input-group">
    <form action="/flashCards" method="GET">
        <input class="btn btn-secondary" type="submit" value="Get another flash card">
    </form>
  </div>

</div>

{% endblock %}
